/* ADD YOUR CUSTOM STYLES*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Ubuntu', sans-serif;
}
.bg-teal,.btn-teal{
    background-color:#2df8f0 !important;
}
.text-teal{
    color:#2df8f0 !important;
}
.bg-dark,.btn-dark{
    background: linear-gradient(45deg,black,darkslategray)!important;
}
.btn{
    border-radius: 50px;
}

/*---------------landing------------*/
.landing-section{
    background:white url("../img-1.jpg") no-repeat scroll center;
    background-size: cover;
    height: 100vh;
    color: white;
    }
    .landing-wrapper{
        background-color: rgba(0,0,0,0.5);
        height: 100%;
    }
    .landing-wrapper h1{
        font-size: 60px;
    }
    .landing-wrapper p{
        font-size: 20px;
    }
    .intro-icon{
        background-color: black;
        color: #2df8f0;
        border-radius: 50% ;
        box-shadow: 0 0 3px black;
    }
    
/*------------------- Table ----------------------------*/
    table{
    	border-collapse:collapse;
    	width:100%;
    	font-size:18px;
    	text-align:center;
    }
    h1{
    	text-align:center;
    }
    th,td{
    	border:2px solid #ddd;
    	padding:15px;
    	background-color:#2df8f0; 	
    }
   
    .tran{
    	text-align:center;
    	
    }
    .res-tab{
    	overflow-x:auto;
    }